# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build_project:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -U -B -Dspring.profiles.active=test clean install && cp target/mcp-identityregistry-core-latest.jar docker/
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: docker
          tags: ghcr.io/maritimeconnectivity/identityregistry
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
